.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: burlywood;
    margin: 10px;
    padding: 10px;
}

#titulo{
    background-color: aquamarine;
}

p{
    color: darkviolet;
}